# Ignore everything
*

# But not these files
!SimpleRustChatApp/main.rs
!SimpleGoChatApp/main.go
!SimpleRustChatApp/Cargo.toml
!README.md
!.gitignore
!Evidences/*

# Even if they are in subdirectories
!*/